<div class="container">
    <div class="row">
        <div class="col-3 p-3">
            <div class="bg-body-secondary p-3">

                <div class="box1">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label fw-bold" for="flexRadioDefault1">Tour nước ngoài</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label fw-bold" for="flexRadioDefault1">Tour trong nước</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label fw-bold" for="flexRadioDefault1">Tour cao cấp</label>
                    </div>
                </div>
                <div class="box2 mt-3">
                    <h6 class="fw-bold">Điểm đi</h6>
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Chọn điểm đi
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Hà Nội</a></li>
                          <li><a class="dropdown-item" href="#">TP.HCM</a></li>
                          <li><a class="dropdown-item" href="#">Cần Thơ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="box3 mt-3">
                    <h6 class="fw-bold">Điểm đến</h6>
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Chọn điểm đến
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Lào</a></li>
                          <li><a class="dropdown-item" href="#">Thái Lan</a></li>
                          <li><a class="dropdown-item" href="#">Úc</a></li>
                          <li><a class="dropdown-item" href="#">Nhật Bản</a></li>
                          <li><a class="dropdown-item" href="#">Hàn Quốc</a></li>
                          <li><a class="dropdown-item" href="#">Nga</a></li>
                          <li><a class="dropdown-item" href="#">Trung Quốc</a></li>
                          <li><a class="dropdown-item" href="#">Pháp</a></li>
                          <li><a class="dropdown-item" href="#">Đức</a></li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="box4 mt-3">
                    <div class="dropdown">
                        <button class=" btn btn-light dropdown-toggle w-100 d-flex align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <h6 class=" fw-bold text-black mt-2 me-2">Số ngày</h6>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">
                            <div class="row g-4">
                                <div class="col-6">
                                    <button>1-3 ngày</button>
                                </div>
                                <div class="col-6">
                                    <button>4-7 ngày</button>
                                </div>
                                <div class="col-6">
                                    <button>8-14 ngày</button>
                                </div>
                                <div class="col-6">
                                    <button>Trên 14 ngày</button>
                                </div>
                            </div>
                          </a></li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="box5 mt-3">
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle w-100 d-flex align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <h6 class=" fw-bold text-black mt-2 me-2">Số người</h6>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">
                            <div class="row g-4">
                                <div class="col-6">
                                    <button>1 người</button>
                                </div>
                                <div class="col-6">
                                    <button>2 người</button>
                                </div>
                                <div class="col-6">
                                    <button>3-5 người</button>
                                </div>
                                <div class="col-6">
                                    <button>Trên 5 người</button>
                                </div>
                            </div>
                          </a></li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="box6 mt-3">
                    <h6 class=" fw-bold">Dòng tour</h6>
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Chọn dòng tour
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Tiết kiệm</a></li>
                          <li><a class="dropdown-item" href="#">Tiêu chuẩn</a></li>
                          <li><a class="dropdown-item" href="#">Cao cấp</a></li>
                        </ul>
                    </div>
                </div>
                <div class="box7 mt-3">
                    <p class=" fw-bold text-black">Giá từ</p>
                    <input class="form-range-primary w-100" type="range" class="form-range" id="customRange1">
                    <p>111...</p>
                </div>
                <div class="box8 mt-3">
                    <p class=" fw-bold text-black">Hiển thị những chuyến đi</p>
                    <div class="form-check">
                        <input class="form-check-input " type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label " for="flexCheckDefault">Khuyến mãi</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input " type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label " for="flexCheckDefault">Còn chỗ</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9 p-3">
            <img class="img-fluid" src="https://www.luavietours.com/wp/wp-content/uploads/2023/12/uu-dai-dac-biet-pc.png" alt="">
            <div class="row mt-3">
                <div class="col-lg-6">
                    <h4>Du Lịch Nước Ngoài</h4>
                </div>

                <div class="col-lg-6">
                    <p class="text-end">
                        <i class="bi bi-funnel"></i><span> Sắp xếp theo</span>
                    </p>
                </div>
                <form class="d-flex input-group mb-3" role="search">
                  <input class="form-control me-2" type="Hãy nhập vào" placeholder="Hãy nhập thông tin bạn cần tìm" aria-label="Search" ng-model="keyword">
                  <button class="btn btn-outline-info" type="submit">Tìm</button>
                </form>
            </div>              
            <div class="row" >
                <div class="col-sm-12 col-md-6 col-lg-4" ng-repeat="p in products | filter:{'name':keyword} | orderBy: sort">
                  <div class="card">
                    <img height="190px" src="img/{{p.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><a href="#!chitiet/{{p.id}}">{{p.name}}</a></h5>
                      <p>
                        <div class="row">
                          <div class="col-6 text-start">
                            <i class="bi bi-clock"></i> 4 ngày 3 đêm
                          </div>
                          <div class="col-6">
                            <p class="card-text text-end text-danger fw-bold fs-5">{{p.price}} đ</p>
                          </div>
                        </div>
                      </p>  
                        <p><i class="bi bi-calendar2-week"></i> Theo yêu cầu</p>
                        <p><i class="bi bi-car-front-fill"></i> Bay khứ hồi</p>
                        <p>
                          <div class="row">
                            <div class="col-6 text-start">
                              <i class="bi bi-star-half"></i> 4-5 sao
                            </div>
                            <div class="col-6 text-end">
                              <a href="#!chitiet" class="btn btn-info">Đặt ngay</a>
                            </div>
                          </div>
                          </p>
                    </div>
                  </div>
                  </div>

            </div>

            <nav aria-label="Page navigation example" class="mt-3 d-flex justify-content-center">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
        </div>
    </div>
</div>