<h1>Giỏ hàng</h1>

<table class="table">
    <div ng-if="cart.length === 0">
        <h1 class="text-center text-primary">Giỏ hàng của bạn đang trống.</h1>
      </div>
      <div>
        
      </div>
<thead ng-if="cart.length >0">
    <tr>
        <th>STT</th>
        <th>Tên sản phẩm</th>
        <th>Hình ảnh</th>
        <th>Giá</th>
        <th>Số lượng</th>
        <th>Thành tiền</th>
        <th>Thao tác</th>
    </tr>
    <tr ng-repeat="p in cart">
        <th>1</th>
        <th>{{p.name}}</th>
        <th>
            <img src="img/{{p.image}}" width="150px" alt="">
        </th>
        <th>{{p.price}}</th>
        <th><input type="number" ng-model="p.quantity"></th>
        <th>{{p.price * p.quantity}}</th>
        <th>
            <button class="btn btn-secondary" ng-click="removeItem($index)">Xóa</button>
        </th>
    </tr>
</thead>
</table>